.git/
*~
*#
.#*profiles/
profiles/*
*.log
guilecraft/config.scm
*.org
*.ede
*.sls
/guilecraft/tmp.scm
/session.scm
/wip-modules/
/tests/concurrency.scm
reports.scm
TAGS
COPYING
INSTALL
Makefile
Makefile.in
autom4te.cache/
config.guess
config.status
config.sub
configure
doc/.dirstamp
doc/guilecraft.info
doc/stamp-vti
doc/version.texi
install-sh
mdate-sh
missing
test-driver
texinfo.tex
