.git/
*~
*#
.#*profiles/
profiles/*
*.log
glean/config.scm
scripts/glean
*.tar.gz
*.org
*.ede
*.sls
/glean/tmp.scm
/session.scm
/wip-modules/
/tests/concurrency.scm
/tests/*.trs
reports.scm
pre-inst-env
test-env
TAGS
COPYING
INSTALL
Makefile
Makefile.in
autom4te.cache/
config.guess
config.status
config.sub
configure
doc/.dirstamp
doc/glean.info
doc/glean.html
_cache
doc/stamp-vti
doc/version.texi
install-sh
mdate-sh
missing
test-driver
aclocal.m4
texinfo.tex
*.go
