/* This will contain custom CSS for the Guilecraft Theme
--------------------------------------------------------- */

/* Sticky Navbar styles
-------------------------------------------------- */
body > div.navbar-inverse {
    border-top: 2px solid #fff;
}
body > div.navbar-inverse > div.help{
    background-color: #fff;
    margin: auto;
}
.nav > li:nth-child(4) {
    background-color: #fff;
}
.nav > li:nth-child(4) a:hover,
.nav > li:nth-child(4) a:focus,
.nav > li:nth-child(4) a:active {
    color: #000;
}

/* Set Details
-------------------------------------------------- */
img.set-logo-large {
    float: right;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
